/*
Base Element Styles
*/

* {
    text-align: center;
}

body {
    font-size: 1em;
}

header {
    margin: 0 auto;
}

h3,
p,
a {
    font-family: "Balsamiq Sans","Roboto Regular", sans-serif;
}

h1 {
    font-family: "Balsamiq Sans","Roboto Bold", sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 80px;
}

h2 {
    font-family: "Balsamiq Sans","Roboto Bold", sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 80px;
    font-size: 1.5em;
}

h3 {
    font-size: 2rem;
    text-align: center;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 5px;
    
}

p {
    font-size: 1.1em;
    text-align: center;
}

a {
   text-align: center;
   text-decoration: none;
   font-family: "Balsamiq Sans","Roboto Bold", sans-serif;
   font-size: 1.5em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 2.18em 0;
    font-size: 1.25em;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/*
Navigation Styles
*/
a:link {
    color: #000;
}

a:hover {
    color: lightblue;
}

/*
Layout Style
*/

.main-nav{
    text-align: center;
    margin-bottom: 80px;
}
.main-header {
    margin: 0;
    padding: 0;
    text-align: center;
    
}

.main-header p {
    font-size: 1.5em;
    color: darkgray;
    line-height: 40px;
    margin-bottom: 120px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.portfolio p {
    font-size: 1.4em;
    line-height: 30px;
    margin-bottom: 80px;
}

.skills {
    margin-top: 10%;
    border-bottom: dashed 2px lightgray;
}

.skills h2 {
    margin-bottom: 20px;
}

.skills img {
    max-width: 50%;
    margin-bottom: 5%;
}

.contact {
    text-align: center;
    margin-bottom: 80px;
}

.contact h2{
    margin-top: 5%;
    margin-bottom: 40px;
}

.contact p {
    font-size: 1.4em;
    color: darkgray;
    line-height: 40px;
}

.contacts {
    margin: 0 auto;
    max-width: 400px;
}

.contact-details {
    float: left;
    padding-left: 50px;
    padding-bottom: 20px;
    margin: 0;
}

.contact-information {
    float: right;
    padding-right: 50px;
    padding-bottom: 20px;
    font-weight: bold;
    margin: 0;
}

.main-footer {
    width: 90%;
    margin: 0 auto;
    border-top: solid 1px lightgray;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main-footer p {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    padding: 0;
}

.main-footer a {
    font-size: 1em;
    width: 50%;
}

.footer-name {
    float: left;
    padding-top: 15px;
}

.footer-link {
    float: right;
    padding-left: 20px;
}


.footer-nav {
    display: none;
}

/*
Clearfix
*/

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/*
Media Queries
*/
@media (min-width: 768px) {

    .title {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .main-nav li {
        display: inline-block;
        margin: 20px;
        font-size: 0.9em;
    }

    .main-header {
       margin-bottom: 80px; 
    }

    .main-image {
        float: right;
        width: 49%;
        max-width: 390px;
    }

    .main-paragraph {
        float: left;
        width: 49%;
        text-align: left;
        margin-top: 0;
    }

    .portfolio h3 {
        font-size: 1.6em;
        font-weight: bold;
        margin: 20px;
        padding: 20px;
    }

    .portfolio p {
        font-size: 1.3em;
        max-height: 50%;
        width: 80%;
        margin: 0 auto;
        margin-top: 0;
        margin-bottom: 20%
    }


    .marketing-page {
        float: left;
        width: 48%;
        display: block;
        max-height: 459px;
        margin-bottom: 5%;
    }

    .search-page {
        float: right;
        width: 48%;
        display: block;
        max-height: 459px;
        margin-bottom: 5%;
    }

    .travel-app {
        float: left;
        width: 48%;
        display: block;
        max-height: 459px;
        margin-bottom: 5%;
    }

    .map-favorite {
        float: right;
        width: 48%;
        display: block;
        max-height: 459px;
        margin-bottom: 5%;
    }

    .photo-gallery {
        float: left;
        width: 48%;
        display: block;
        max-height: 459px;
    }

    .calculator {
        float: right;
        width: 48%;
        display: block;
        max-height: 459px;
    }

    .contact {
        width: 80%;
        margin: 0 auto;
    }

    .main-footer p {
        font-size: 1.2em;
    }

    .footer-name {
        padding: 0;
    }
    
    .footer-link {
        display: none;
    }

    .footer-nav {
        float: right;
        display: block;
        max-width:480px;
    }

    .footer-nav li {
        float: left;
        margin: 20px;
        font-size: 0.9em;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 90%;
        
    }

    .title {
        float: left;
        width: 40%;
        text-align: left;
        margin-top: 2%;
        margin-bottom: 80px;
    }
    
    .main-nav {
        margin: 0 auto;
        margin-top: 2%;
    }
    
    .main-nav ul{
        text-align: right;
    }
    
    .main-nav li {
        margin: 0;
        margin-top: 3%;
        padding: 0 20px;
        font-size: 0.9em;
    }

    .main-image {
        max-width: 490px;
        width: 40%;
    }

    .main-paragraph {
        width:59%;
    }

    .marketing-page {
        float: left;
        width: 31%;
        margin-right: 1%;
        margin-bottom: 10%;
        max-height: 459px;
    }

    .search-page {
        float: left;
        width: 31%;
        margin-left: 2%;
        margin-bottom: 10%;
        max-height: 459px;
    }
    .travel-app {
        float: right;
        width: 31%;
        margin-left: 1%;
        margin-bottom: 10%;
        max-height: 459px;        
    }

    .map-favorite {
        float: left;
        width: 31%;
        margin-right: 1%;
        margin-left: 0;
        max-height: 459px;
    }

    .photo-gallery {
        float: left;
        width: 31%;
        margin-left: 2%;
        max-height: 459px;        
    }

    .calculator {
        float: right;
        width: 31%;
        margin-left: 1%;
        margin-right: 0;
        max-height: 459px;        
    }

    .skills img {
        max-width: 500px;
    }

    .contact-paragraph {
        margin: 0 auto;
        width: 80%;
        margin-bottom: 5%;
    }

    .footer-nav {
        font-size: 1.2em;
    } 
}